<h2>Products</h2>

<div *ngFor="let product of products; index as productId">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

<button (click)="share()">
    Share
  </button>
<!--
  I'm having a lot of trouble with this(below), I don'tunderstand 
  the error message: 
  Can't bind to 'product' since it isn't a known property of 'app-product-alerts'.
  From what I can tell 'product' is a known property of 
  'app-product-alerts'. 

-->
<!-- <app-product-alerts
  [product]="product">
</app-product-alerts> -->

<!-- This one is also having issues. Can't seem to figure it out -->

<!-- <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts> -->

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
--> 